<app-header></app-header>
<div class="l-app__body">
  <router-outlet></router-outlet>
<div class="l-page">
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Avatar</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="avatar-group">
        <eg-avatar   size="xsmall" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="small" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>

        <eg-avatar  size="large" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="xlarge" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="xxlarge" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
      </div>
      <eg-avatar [labels]="true"  size="medium" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Buttons</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="btn-group">
        <button egButton color="default"  size='small'  >Button</button>
        <button egButton color="primary" size='small'  >Button</button>
        <button egButton color="secondary" size='small'  >Button</button>
        <button egButton color="tertiary" size='small'  >Button</button>
        <button egButton color="shallow" size='small'  >Button</button>

      </div>
      <div class="btn-group">
        <button egButton color="default"  size='medium'  >Button</button>
        <button egButton color="primary" size='medium'  >Button</button>
        <button egButton color="secondary" size='medium'  >Button</button>
        <button egButton color="tertiary" size='medium'  >Button</button>
        <button egButton color="shallow" size='medium'  >Button</button>

      </div>
      <div class="btn-group">
        <button egButton color="default"  size='large'  >Button</button>
        <button egButton color="primary" size='large'  >Button</button>
        <button egButton color="secondary" size='large' >Button</button>
        <button egButton color="tertiary" size='large' >Button</button>
        <button egButton color="shallow" size='large' >Button</button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='large'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='large'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
      </div>
    </div>
  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Checkboxes</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <eg-checkbox-group [options]="checkboxOptions"></eg-checkbox-group>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
  <div class='l-page-section__heading '>
    <div class='l-page-section__title-wrapper'>
      <h5>Form elements</h5>
    </div>
    <div class='l-page-section__actions' >

    </div>
  </div>
  <div class="l-page-section__content">
    <app-form-field>
      <label>Text input</label>
      <input appInputRef eg-input />
    </app-form-field>
    <app-form-field>
      <label>Text input</label>
      <input [value]="datepickerControl.value | date" appInputRef eg-input />
      <button libModalToggle  [modal]="datepickerModal" type="button" aria-haspopup="dialog" aria-owns="datepicker-calendar"><eg-icon icon="calendar-event-line"></eg-icon></button>
      <lib-modal #datepickerModal>
        <lib-calendar [formControl]="datepickerControl"
                      id="datepicker-calendar"
        ></lib-calendar>
      </lib-modal>
    </app-form-field>
    <app-form-field>
      <label>Search field</label>
      <eg-icon egPrifix icon="search-line"></eg-icon>
      <input appInputRef eg-input type="search" />
    </app-form-field>
    <eg-select
      id="test-id"
      label="Label"
      placeholder="Select an option"
    >
      <label>Select input</label>
      <eg-select-option value="Iconic options">Option 1</eg-select-option>
      <eg-select-option value="Iconic options">Option 2</eg-select-option>
      <eg-select-option value="Iconic options">Option 3</eg-select-option>
      <eg-select-option value="Iconic options">Option 4</eg-select-option>
      <eg-select-option value="Iconic options">Option 5</eg-select-option>
      <eg-select-option value="Iconic options">Option 6</eg-select-option>
      <eg-select-option value="Iconic options">Option 7</eg-select-option>
      <eg-select-option value="Iconic options">Option 8</eg-select-option>
      <eg-select-option value="Iconic options">Option 9</eg-select-option>
      <eg-select-option value="Iconic options">Option 10</eg-select-option>
      <eg-select-option value="Iconic options">Option 11</eg-select-option>
      <eg-select-option value="Iconic options">Option 12</eg-select-option>
    </eg-select>
    <app-form-field>
      <label>Textarea</label>
      <textarea appInputRef eg-input id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
    </textarea>
    </app-form-field>

    <div class="select-container">

  </div>

  </div>

</div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Form elements</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content"  >
      <button [dropdownTriggerFor]='dropdown' color="default"   size='large' egIconButton><eg-icon  icon="more-2-fill"></eg-icon></button>
      <button [dropdownTriggerFor]='dropdown' color="default"   size='medium' egButton>Dropmenu</button>
      <eg-dropmenu #dropdown>
        <planflex-menu-item>Menu item 1</planflex-menu-item>
        <planflex-menu-item>Menu item 2</planflex-menu-item>
        <planflex-menu-item>Menu item 3</planflex-menu-item>
        <planflex-menu-item>Menu item 4</planflex-menu-item>
      </eg-dropmenu>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Form elements</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="l-table__container">
        <div class="l-table__wrapper">

        </div>

      </div>
    </div>

  </div>

</div>


</div>






