<app-header></app-header>
<div class="l-app__body">
  <router-outlet></router-outlet>
<div class="l-page">
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Avatar</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="avatar-group">
        <eg-avatar   size="xsmall" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="small" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>

        <eg-avatar  size="large" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="xlarge" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
        <eg-avatar  size="xxlarge" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
      </div>
      <eg-avatar [labels]="true"  size="medium" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Buttons</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="btn-group">
        <button egButton color="default"  size='small'  >Button</button>
        <button egButton color="primary" size='small'  >Button</button>
        <button egButton color="secondary" size='small'  >Button</button>
        <button egButton color="tertiary" size='small'  >Button</button>
        <button egButton color="shallow" size='small'  >Button</button>

      </div>
      <div class="btn-group">
        <button egButton color="default"  size='medium'  >Button</button>
        <button egButton color="primary" size='medium'  >Button</button>
        <button egButton color="secondary" size='medium'  >Button</button>
        <button egButton color="tertiary" size='medium'  >Button</button>
        <button egButton color="shallow" size='medium'  >Button</button>

      </div>
      <div class="btn-group">
        <button egButton color="default"  size='large'  >Button</button>
        <button egButton color="primary" size='large'  >Button</button>
        <button egButton color="secondary" size='large' >Button</button>
        <button egButton color="tertiary" size='large' >Button</button>
        <button egButton color="shallow" size='large' >Button</button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='medium'  ><eg-icon  icon="more-2-fill"></eg-icon></button>

      </div>
      <div class="btn-group">
        <button egIconButton color="default"  size='large'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="primary" size='large'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="secondary" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="tertiary" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
        <button egIconButton color="shallow" size='large' ><eg-icon  icon="more-2-fill"></eg-icon></button>
      </div>
    </div>
  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Checkboxes</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <eg-checkbox-group [options]="checkboxOptions"></eg-checkbox-group>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Form elements</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <app-form-field>
        <label>Label</label>
        <input appInputRef eg-input />
      </app-form-field>
      <app-form-field>
        <label>Label</label>
        <eg-icon egPrifix icon="search-line"></eg-icon>
        <input appInputRef eg-input type="search" />
      </app-form-field>
      <app-form-field>
        <label>Label</label>
        <select appInputRef eg-input  name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </app-form-field>
      <app-form-field>
        <label>Label</label>
        <textarea appInputRef eg-input id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
    </textarea>
      </app-form-field>
    </div>

  </div>
  <eg-divider></eg-divider>
  <div class="l-page-section">
    <div class='l-page-section__heading '>
      <div class='l-page-section__title-wrapper'>
        <h5>Form elements</h5>
      </div>
      <div class='l-page-section__actions' >

      </div>
    </div>
    <div class="l-page-section__content">
      <div class="l-table__container">
        <div class="l-table-config">
          <div class="l-table-config__container">
            <div class="" style="position: relative">
              <button >Filters</button>
            </div>
          </div>
          <div class="l-table-config__container">
            <div class="c-badge-list" >
              <div class="c-badge c-badge-blue invert-true">Permissions: Indexing, History<span class="material-symbols-outlined">close</span></div>
              <div class="c-badge c-badge-blue invert-true">Permissions: Indexing, History<span class="material-symbols-outlined">close</span></div>
              <div class="c-badge c-badge-blue invert-true">Permissions: Indexing, History<span class="material-symbols-outlined">close</span></div>
            </div>
          </div>
        </div>
        <div class="l-table__wrapper">
          <table class="l-raw-table">
            <thead>

            <td width="6.4px" class="l-raw-table__header-cell l-raw-table__checkbox-cell">

              <eg-checkbox></eg-checkbox>
            </td>
            <td class="l-raw-table__header-cell">NAME</td>
            <td class="l-raw-table__header-cell">Permissions</td>
            <td class="l-raw-table__header-cell">Permissions</td>
            <td class="l-raw-table__header-cell l-raw-table__button-cell"></td>

            </thead>
            <tbody>
            <tr>
              <td width="6.4rem"  class="l-raw-table__cell l-raw-table__checkbox-cell">
                <eg-checkbox></eg-checkbox>
              </td>
              <td class="l-raw-table__cell">
                <eg-avatar [labels]="true"  size="medium" text="Eranga ravindu Gunawardana" supportingText="eranga.ravindu@gmail.com" ></eg-avatar>
              </td>
              <td class="l-raw-table__cell">
                sample text
              </td>
              <td class="l-raw-table__cell">
                <div class="c-badge-list" style="max-width: 640px">
                  <eg-badge color="blue" [invert]="true" [removable]="true">Badge</eg-badge>
                </div>
              </td>
              <td class="l-raw-table__cell l-raw-table__button-cell">
                <div class="btn-group">
                  <button egIconButton color="default"  size='small'  ><eg-icon  icon="more-2-fill"></eg-icon></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>

</div>


</div>






